<%# Card partial that we can then call from anywhere in our html %>
<%# rather than copy pasting the html, we just write it once %>
<%# And if we ever have to make any changes, we just change it one place %>
<%# And the changes take effect everywhere! %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
